@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/karla-v31-latin-regular.woff2") format("woff2");
}
.container {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

.site-header {
  padding: 25px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: inline-block;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar__link {
  color: rgb(29, 31, 46);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header__cart-btn {
  position: relative;
  width: 92px;
  padding: 4px 0;
  color: rgb(29, 31, 46);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  background-image: url(../images/bucket.svg);
  background-repeat: no-repeat;
  background-size: 16px 20px;
  background-position: left 0px;
}
.header__cart-btn::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(162, 95, 75, 0.3);
  position: absolute;
  bottom: 0;
}

.cart__count {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 20px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  border-radius: 9px;
  background: rgb(29, 31, 46);
  border: none;
}

.hero-section {
  padding: 159px 0;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: 1380px 530px;
  background-position: bottom;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__top-text {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero__title {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-size: 47px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
}

.hero__bottom-text {
  margin-bottom: 48px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}

.hero__link-explore {
  width: 231px;
  box-shadow: 0px 2px 6px 0px rgba(29, 31, 46, 0.1);
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: rgb(29, 31, 46);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pointing-section {
  padding: 123px 0 100px 0;
}

.pointing {
  text-align: center;
}

.pointing__content-wrapper {
  width: 626px;
  text-align: center;
  margin: 0 auto;
}

.pointing__title {
  margin-bottom: 16px;
  color: rgb(29, 31, 46);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
}

.pointing__text {
  margin-bottom: 21px;
  color: rgb(29, 31, 46);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}

.pointing__link {
  width: 133px;
  padding-bottom: 6px;
  color: rgb(162, 95, 75);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  position: relative;
  cursor: pointer;
}
.pointing__link::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: rgba(162, 95, 75, 0.2);
}

.pointing__mugs {
  padding-bottom: 104px;
}

.mugs__title, .product__title, .magazine__title {
  display: inline-block;
  margin-bottom: 100px;
  padding: 0 50px;
  color: rgb(29, 31, 46);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}
.mugs__title::before, .product__title::before, .magazine__title::before {
  content: "";
  width: 30px;
  height: 1px;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(236, 236, 237);
}
.mugs__title::after, .product__title::after, .magazine__title::after {
  content: "";
  width: 30px;
  height: 1px;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(236, 236, 237);
}

.mugs__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mugs__item {
  width: 480px;
  align-items: center;
  padding-bottom: 15px;
}

.mugs__img {
  margin-bottom: 35px;
}

.mugs__subtitle {
  margin-bottom: 5px;
  color: rgb(29, 31, 46);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}

.mugs__cost {
  color: rgba(29, 31, 46, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}

.mugs__sale-cost, .product__sale-cost {
  display: inline-block;
  margin-right: 10px;
  color: rgb(162, 95, 75);
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
}

.mugs__cost-del, .product__cost-del {
  color: rgba(29, 31, 46, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration-line: line-through;
}

.product {
  padding-bottom: 100px;
  text-align: center;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product__item {
  width: 300px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.product__item-bottom {
  width: 300px;
  padding-bottom: 15px;
}

.product__img {
  margin-bottom: 35px;
}

.product__subtitle {
  margin-bottom: 5px;
  color: v rgb(29, 31, 46);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}

.product__del {
  color: rgba(29, 31, 46, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration-line: line-through;
}

.product__cost {
  color: rgba(29, 31, 46, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}

.magazine-section {
  padding-bottom: 130px;
}

.magazine {
  text-align: center;
}

.magazine__wrapper {
  display: flex;
  gap: 80px;
  align-items: center;
}

.magazine__img-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.magazine__two-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.magazine__content-wrapper {
  width: 330px;
  text-align: left;
}

.magazine__offer {
  display: inline-block;
  margin-bottom: 14px;
  color: rgb(29, 31, 46);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.magazine__content-title {
  margin-bottom: 15px;
  color: rgb(29, 31, 46);
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: left;
}

.magazine__text {
  margin-bottom: 25px;
  color: rgba(29, 31, 46, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}

.magazine__btn {
  width: 173px;
  padding: 9px 0;
  text-align: center;
  background-color: rgb(29, 31, 46);
  border: 1px solid rgb(29, 31, 46);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s all ease;
}

.magazine__btn:hover {
  border-color: rgba(29, 31, 46, 0.7);
  background-color: transparent;
  color: rgb(29, 31, 46);
}

.bg-section {
  background-image: url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  height: 340px;
  background-size: 100%;
}

.story-section {
  padding: 100px 0 152px 0;
}

.story {
  text-align: center;
}

.story__title {
  margin-bottom: 100px;
  padding: 0 50px;
  display: inline-block;
  color: rgb(29, 31, 46);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}
.story__title::before {
  content: "";
  width: 30px;
  height: 1px;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(236, 236, 237);
}
.story__title::after {
  content: "";
  width: 30px;
  height: 1px;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(236, 236, 237);
}

.story__list {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.story__item {
  width: 300px;
  text-align: start;
}

.story__img {
  margin-bottom: 29px;
}

.story__content-wrapper {
  width: 284px;
}

.story__subtitle {
  margin-bottom: 10px;
  color: rgb(29, 31, 46);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
}

.story__text {
  margin-bottom: 16px;
  color: rgba(29, 31, 46, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}

.story__date {
  color: rgb(29, 31, 46);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */