.story-section {
    padding: 100px 0 200px 0;
}

.story {
    text-align: center;
}
.story__title {
    margin-bottom: 100px;
    padding: 0 50px;
    display: inline-block;
    color: $text-clr;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    
    &::before{
        content: "";
        width: 30px;
        height: 1px;
        margin: auto 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(236, 236, 237);
    }
    &::after{
        content: "";
        width: 30px;
        height: 1px;
        margin: auto 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(236, 236, 237);
}
}
.story__list {
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.story__item {
    width: 300px;
    text-align: start;
}
.story__img {
    margin-bottom: 29px;
}
.story__content-wrapper{
    width: 284px;
}
.story__subtitle {
    margin-bottom: 10px;
    color: $text-clr;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
}
.story__text {
    margin-bottom: 16px;
    color: rgba(29, 31, 46, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
   
    letter-spacing: 0%;
}
.story__date {
    color: $text-clr;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;

}